VITE_FIREBASE_API_KEY=AIzaSyAYvCc77YYch8iYjXUyAE2pp6H3k5UXuVQ
VITE_FIREBASE_AUTH_DOMAIN=timetablepro-e6695.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=timetablepro-e6695
VITE_FIREBASE_STORAGE_BUCKET=timetablepro-e6695.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=509396899611
VITE_FIREBASE_APP_ID=1:509396899611:web:1e8978c8a1b88d8209a5be
